.eventCard {
  position: absolute;
  background-color: #eec04c4d;
  width: 90%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: start;

  border-left: 4px solid #eec04c8d;
  border-radius: 0.3rem;
}
