.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 630px;
  height: 400px;
  border-radius: 20px;
  border: 1px solid #00000045;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  box-shadow: 4px 4px 3px 1px #00000017;
  background-color: white;
}
.login-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.login-title {
  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 1rem;
}

.login-subtitle {
  margin-top: -1.8rem;
  font-size: 1.2rem;
}

.login-btn {
  width: 200px;
  height: 45px;
}

.login-links {
  display: flex;
  gap: 1.5rem;
}

.login-img {
  width: 120px;
  height: 380px;
  overflow: hidden;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
