.container {
  margin: 0 2rem;
  /* max-width: 1100px;
   */
  padding: 0 0.5rem;
}

.main__page {
  display: flex;
  justify-content: space-between;

  gap: 1.5rem;

  margin-top: 1.5rem;
}

.calendar-grid {
  flex: 3;
  overflow: hidden;
  margin-right: -12px;
  font-size: 50px;
}
.modal-container {
  position: absolute;

  width: 600px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
