.inputField {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;

  width: 100%;
  height: 100%;

  color: var(--input-text);
}

.inputField-input {
  background: var(--input-background);
  color: inherit;

  font-size: 1rem;

  padding: 0.2rem 0 0.4rem;

  width: 100%;

  border: none;
}
.inputBox {
  width: 100%;

  display: flex;
  border-bottom: 2px solid var(--input-border);
}

.inputField-input::placeholder {
  color: var(--input-placeholder);
}

.inputFieldError {
  border-bottom: 1px solid var(--input-error);
}

.inputField-label {
  font-size: 13px;
  font-weight: 700;
}
.inputField-input:focus {
  outline: none;
}
.inputField-error-text {
  color: var(--input-error);
  font-size: 12px;
}
.eye {
  cursor: pointer;
  border: none;
}
