.calendarGrid__hour {
  display: block;
  position: relative;
  top: -6px;

  text-align: center;

  font-size: 0.8rem;

  cursor: default;
}
.calendarGrid__hour-container:first-child {
  visibility: hidden;
}
