.color-picker__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;

  row-gap: 0.3rem;
}

.color-picker__title {
  font-size: 13px;
  font-weight: 700;
}

.color-picker__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, minmax(30px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.3rem;
  place-items: center;

  border: 1px solid rgb(212, 212, 212);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.color-cell {
  width: 100%;
  border-radius: 0.4em;
  width: 25px;
  height: 25px;

  cursor: pointer;
}
.color-cell.active {
  background: var(--color-picked);
  box-shadow: 0 0 0 2px var(--color-picked), inset 0 0 0 1px white;
}
