.calendar {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0.5rem;
}
.calendar__header {
  display: flex;
  justify-content: space-between;

  margin-top: 0.4rem;
}

.calendar__header-title {
  cursor: default;
}

.calendar__header-navigator-btn {
  display: flex;
  gap: 2rem;
  cursor: pointer;
  align-items: center;
}

.calendar__weekdays,
.calendar__days {
  display: grid;

  grid-template-columns: repeat(7, minmax(0, 1fr));
  place-items: center;

  cursor: default;
}

.calendar__days {
  margin-top: 0.5rem;
  height: 100%;
  grid-template-rows: repeat(6, minmax(0, 1fr));
}
.calendar__weekdays {
  font-weight: 800;
}
.calendar-days,
.calendar-cells,
.today {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  position: relative;
  padding: 0.3rem;

  border-radius: 1rem;
}
.calendar-cells {
  cursor: pointer;

  transition: background-color 0.2s ease, color 0.2s ease;
}
.calendar-cells:focus {
  font-size: 4rem;
}
.calendar-cells:hover {
  background-color: var(--calendar-cell-hover);
}

.calendar-cells:active {
  background: #e0e0e0;
}
.currentDay {
  background-color: rgba(128, 128, 128, 0.298);
}
.today {
  color: white;
  background-color: var(--calendar-today-background);
}
.other-month {
  color: var(--calendar-otherDays-color);
}

.calendar .disabled {
  cursor: not-allowed;
  opacity: 0.1;
  pointer-events: none;
}
