.calendarGrid__header {
  font-size: 1.2rem;
  border-bottom: 3px solid #cecccc;
}

.calendarGrid__dayWrapper {
  border-left: 1px solid #cecccc;
}

.calendarGrid__dayContainer {
  display: flex;
  flex-direction: column;

  position: relative;
  margin: 0.2rem 0.4rem;
  padding: 0.4rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;

  text-align: center;

  cursor: default;

  transition: hover 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.calendarGrid__dayContainer:hover {
  background-color: #e8f5e9;
}

.calendarGrid__day {
  line-height: 1.2rem;
  font-weight: 500;
}

.calendarGrid__dayName {
  font-size: 0.7rem;
}
