.myCalendar {
  display: flex;
  flex-direction: column;

  background: white;

  border-radius: 0.4rem;

  padding: 1rem 0.4rem;

  row-gap: 1rem;
}

.myCalendar__header {
  display: flex;
  justify-content: space-between;
}
.myCalendar__header-addNewCalendar {
  cursor: pointer;
}

.myCalendar__options {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

  padding: 0 0.5rem;
}
