.calendar__navigation {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}
.calendar__navigation-today-btn {
  height: 100%;
  width: 60px;
}

.calendar__navigation__btn-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.calendar__navigation-prevBtn,
.calendar__navigation-nextBtn {
  height: 100%;
  width: 30px;
  min-width: fit-content;
}

.calendar__navigation-currentMonthDisplay {
  font-weight: 600;
  cursor: default;
}
